<p style="color: green"><%= notice %></p>

<%= render @guest_book %>

<div>
  <%= link_to "Edit this guest book", edit_guest_book_path(@guest_book) %> |
  <%= link_to "Back to guest books", guest_books_path %>

  <%= button_to "Destroy this guest book", @guest_book, method: :delete %>
</div>
